# Lab 4 - Combining Dataframes (Due 10/14)

## NFL Offense Data

### Importing the data:

In [727]:
import pandas as pd

In [728]:
# The dtypes are Int, Object, or Float

# nfl3_df.info()
# nfl4_df.info()
# nfl5_df.info()

1. Import the NFL week 3, 4, and 5 data and add a week column to dataset and set the value to 3, 4, or 5 for all rows from that week.

In [729]:
# import nfl week 3, 4, and 5
nfl3_df = pd.read_csv("nfloffenseweek3.csv")
nfl4_df = pd.read_csv("nfloffenseweek4.csv")
nfl5_df = pd.read_csv("nfloffenseweek5.csv")

In [730]:
# Add column "Week" and set to 3, 4, or 5
nfl3_df['Week'] = "3"
nfl4_df['Week'] = '4'
nfl5_df['Week'] = '5'

pd.concat( [nfl3_df, nfl4_df, nfl5_df])

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,Week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,San Francisco 49ers,4,71,1298,238,5.5,5,3,68,...,4,4.4,29,24,190,8,27.3,11.4,-1.21,5
28,29,Los Angeles Rams,4,70,1176,248,4.7,9,3,79,...,3,3.3,17,14,131,6,35.9,23.1,-8.08,5
29,30,Denver Broncos,4,66,1343,247,5.4,4,3,66,...,2,4.2,20,37,286,7,31.8,9.1,-6.92,5
30,31,Chicago Bears,4,64,1099,219,5.0,7,3,59,...,4,5.2,34,21,171,8,31.8,13.6,-5.87,5
31,32,Indianapolis Colts,4,57,1359,270,5.0,9,4,82,...,1,3.5,22,23,203,5,25.0,20.5,-18.74,5

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [731]:
# I reduced the size to just 5 of each dataframe:
top3 = nfl3_df.head()
top4 = nfl4_df.head()
top5 = nfl5_df.head()

pd.concat( [top3, top4, top5])

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,Week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
0,1,Detroit Lions,4,140,1747,269,6.5,4,1,90,...,7,5.9,26,23,188,7,45.8,8.3,53.17,4
1,2,Kansas City Chiefs,4,129,1539,257,6.0,4,2,95,...,4,4.5,23,19,156,10,50.0,7.1,57.85,4
2,3,Baltimore Ravens,4,119,1437,230,6.2,5,1,77,...,3,5.4,31,17,114,7,42.2,11.1,32.97,4
3,4,Philadelphia Eagles,4,115,1742,285,6.1,2,0,98,...,10,4.3,40,26,193,9,40.0,4.4,44.88,4
4,5,Buffalo Bills,4,114,1650,275,6.0,7,4,99,...,2,4.8,29,24,167,7,47.5,17.5,49.56,4
0,1,Detroit Lions,4,140,1747,269,6.5,4,1,90,...,7,5.9,26,23,188,7,45.8,8.3,53.17,5
1,2,Kansas City Chiefs,4,129,1539,257,6.0,4,2,95,...,4,4.5,23,19,156,10,50.0,7.1,57.85,5
2,3,Baltimore Ravens,4,119,1437,230,6.2,5,1,77,...,3,5.4,31,17,114,7,42.2,11.1,32.97,5
3,4,Philadelphia Eagles,4,115,1742,285,6.1,2,0,98,...,10,4.3,40,26,193,9,40.0,4.4,44.88,5
4,5,Buffalo Bills,4,114,1650,275,6.0,7,4,99,...,2,4.8,29,24,167,7,47.5,17.5,49.56,5

In [732]:
nfl5_df.describe()

,rank,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,passes_completed,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
count,32.000000,32.0,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.00000,32.000000,...,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.00000,32.00000,32.000000,32.000000
mean,16.500000,4.0,87.718750,1378.562500,252.593750,5.462500,5.78125,2.468750,80.00000,88.187500,...,466.750000,3.34375,4.375000,25.781250,23.781250,194.156250,7.56250,36.31250,12.340625,11.928750
std,9.380832,0.0,20.051924,167.669209,22.429617,0.535664,2.21045,1.523671,10.85981,18.734886,...,140.649415,1.99369,0.777091,8.268613,5.283781,58.636171,2.18407,7.46967,5.061866,23.957437
min,1.000000,4.0,57.000000,1049.000000,214.000000,4.600000,2.00000,0.000000,56.00000,34.000000,...,258.000000,1.00000,2.700000,13.000000,14.000000,95.000000,3.00000,21.60000,4.400000,-25.260000
25%,8.750000,4.0,73.750000,1290.500000,236.750000,5.000000,4.00000,1.000000,72.75000,78.250000,...,383.750000,2.00000,4.000000,19.750000,21.000000,156.750000,6.00000,31.07500,9.050000,-7.210000
50%,16.500000,4.0,80.000000,1381.500000,249.000000,5.400000,6.00000,2.500000,81.00000,93.000000,...,443.500000,3.00000,4.400000,23.500000,23.000000,186.000000,7.50000,35.75000,11.400000,6.355000
75%,24.250000,4.0,99.250000,1457.250000,269.250000,5.925000,7.00000,4.000000,87.00000,102.000000,...,547.750000,4.00000,5.000000,31.500000,26.000000,232.000000,9.00000,42.12500,14.075000,31.320000
max,32.000000,4.0,140.000000,1747.000000,292.000000,6.500000,11.00000,6.000000,99.00000,115.000000,...,770.000000,10.00000,5.900000,46.000000,37.000000,319.000000,12.00000,50.00000,23.100000,57.850000

3. Make up 1 interesting question about this dataset. Answer it.

### Identify the interesting fact about this dataset and then determine what team throughout the three weeks scored the highest points

In [733]:
nfl5_df.groupby(['points_scored','team']).points_scored.max().sort_values(ascending=False)
nfl4_df.groupby(['points_scored','team']).points_scored.max().sort_values(ascending=False)
nfl3_df.groupby(['points_scored','team']).points_scored.max().sort_values(ascending=False)
# ----------------------------------------------------------------------------------------
# Interesting Fact:
# Both week 4 and 5 are the same!
nfl5_df.groupby(['points_scored','team']).points_scored.max().sort_values(ascending=False)
nfl4_df.groupby(['points_scored','team']).team.max().sort_values(ascending=False)

points_scored  team
73             Washington Commanders    Washington Commanders
75             Tennessee Titans              Tennessee Titans
82             Tampa Bay Buccaneers      Tampa Bay Buccaneers
95             Seattle Seahawks              Seattle Seahawks
71             San Francisco 49ers        San Francisco 49ers
74             Pittsburgh Steelers        Pittsburgh Steelers
115            Philadelphia Eagles        Philadelphia Eagles
76             New York Jets                    New York Jets
               New York Giants                New York Giants
               New Orleans Saints          New Orleans Saints
74             New England Patriots      New England Patriots
86             Minnesota Vikings            Minnesota Vikings
98             Miami Dolphins                  Miami Dolphins
70             Los Angeles Rams              Los Angeles Rams
92             Los Angeles Chargers      Los Angeles Chargers
96             Las Vegas Raiders            Las Vegas Raiders
129            Kansas City Chiefs          Kansas City Chiefs
105            Jacksonville Jaguars      Jacksonville Jaguars
57             Indianapolis Colts          Indianapolis Colts
73             Houston Texans                  Houston Texans
75             Green Bay Packers            Green Bay Packers
140            Detroit Lions                    Detroit Lions
66             Denver Broncos                  Denver Broncos
71             Dallas Cowboys                  Dallas Cowboys
105            Cleveland Browns              Cleveland Browns
91             Cincinnati Bengals          Cincinnati Bengals
64             Chicago Bears                    Chicago Bears
78             Carolina Panthers            Carolina Panthers
114            Buffalo Bills                    Buffalo Bills
119            Baltimore Ravens              Baltimore Ravens
103            Atlanta Falcons                Atlanta Falcons
88             Arizona Cardinals            Arizona Cardinals
Name: team, dtype: object

## World Population Data

4. Join the height and weight data to the iq data. 
5. Join population density to quality of life data.
6. Join life expectancy to quality of life data.
7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

### Import the IQ, height & weight, life expectancy, quality of life, and population density dataframes

In [734]:
#DataFrames imported
iq_df = pd.read_csv('iq.csv')
height_weight_df = pd.read_csv('height_weight_data.csv')
expectancy_df = pd.read_csv('life_expectancy.csv')
quality_df = pd.read_csv('quality_of_life.csv')
populate_df = pd.read_csv('population_density.csv')

Cleaning Data

In [735]:
#Getting Nans out of iq.education_expenditure...

iq_df['education_expenditure_per_inhabitant'].replace(',', '', regex=True,inplace = True)


#checking for NaNs:
iq_df[iq_df['education_expenditure_per_inhabitant'].isnull()]

#Getting rid of rows with NaN:
iq_df['education_expenditure_per_inhabitant'] = pd.to_numeric(iq_df['education_expenditure_per_inhabitant'], errors='coerce')
iq_df = iq_df.dropna(subset=['education_expenditure_per_inhabitant'])
iq_df['education_expenditure_per_inhabitant'] = iq_df['education_expenditure_per_inhabitant'].astype(int)

# Resetting the id
iq_df = iq_df.reset_index(drop=True)
iq_df.head(6)

       country   iq  education_expenditure_per_inhabitant  daily_max_temp
0    Singapore  108                                   908            31.5
1    Hong Kong  108                                   915            26.2
2  South Korea  106                                   537            18.2
3        Japan  105                                  1258            19.2
4        China  104                                    27            19.0
5  Switzerland  102                                  2539            15.1

4. Join the height and weight data to the iq data.

In [736]:
health_data = pd.merge( height_weight_df, iq_df, how = 'inner' )
health_data

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102,1701,14.4
1,Estonia,182,168,89.9,73.7,27.0,26.0,99,459,10.1
2,Denmark,182,169,86.8,70.2,26.3,24.6,99,3127,12.5
3,Iceland,181,168,89.2,72.6,27.1,25.6,101,2443,8.1
4,Czechia,181,168,91.9,74.2,28.1,26.4,99,387,12.8
...,...,...,...,...,...,...,...,...,...,...
85,Cambodia,165,154,59.7,52.8,22.0,22.2,88,7,32.5
86,Philippines,165,154,61.8,55.5,22.8,23.5,86,38,31.9
87,Bangladesh,165,152,57.7,50.5,21.3,21.8,77,9,29.8
88,Nepal,164,152,60.5,51.6,22.5,22.3,77,10,24.8
89,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60,30,30.9

5. Join population density to quality of life data.

In [737]:
quality_df 
populate_df


#instead of doing how = 'right', I used 'inner' to drop NaN rows in the population dataframe.
population_quality = pd.merge( quality_df, populate_df, how = 'inner' )
population_quality

,country,stability,rights,health,safety,climate,costs,popularity,area,population,pop_per_km_sq
0,Australia,86,92,87,100,90,23,41,7741220.0,25.74 M,3.3
1,San Marino,81,82,91,87,62,61,46,61.0,0.03 M,555.8
2,Switzerland,91,99,93,99,34,44,40,41290.0,8.70 M,210.6
3,Malta,86,72,91,92,75,41,44,320.0,0.52 M,1615.2
4,Luxembourg,93,99,85,100,25,46,42,2590.0,0.64 M,246.7
...,...,...,...,...,...,...,...,...,...,...,...
56,Iran,19,15,60,79,58,43,41,1745150.0,85.03 M,48.7
57,Burundi,31,11,9,62,76,66,54,27830.0,12.26 M,440.4
58,Afghanistan,28,9,20,19,64,63,63,652860.0,39.84 M,61.0
59,Cameroon,40,19,9,27,60,51,34,475440.0,27.22 M,57.3
60,Nigeria,18,24,12,23,54,57,39,923770.0,211.40 M,228.8

6. Join life expectancy to quality of life data.

In [738]:
quality_df 
expectancy_df 

expect_quality = pd.merge( quality_df, expectancy_df, on = 'country' )
expect_quality

,country,stability,rights,health,safety,climate,costs,popularity,male_life_expectancy,female_life_expectancy,birth_rate,death_rate
0,Australia,86,92,87,100,90,23,41,81.2,85.3,11.5,6.3
1,Hong Kong,77,85,100,97,49,61,52,82.9,88.0,5.8,6.8
2,Macao,90,71,100,93,48,61,50,81.4,87.3,10.7,4.1
3,Switzerland,91,99,93,99,34,44,40,81.1,85.2,9.9,8.8
4,Malta,86,72,91,92,75,41,44,80.8,84.6,8.6,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...
99,Cameroon,40,19,9,27,60,51,34,58.4,60.9,34.4,8.9
100,Nigeria,18,24,12,23,54,57,39,54.1,56.0,37.0,11.4
101,Chad,46,12,0,31,50,49,44,53.1,55.9,41.2,11.7
102,Sudan,8,11,18,55,40,66,24,63.7,67.4,31.5,7.0
103,Congo (Dem. Republic),32,7,6,10,54,60,36,59.4,62.5,40.1,9.1

7. Join iq, life expectancy, quality of life, and population density into 1 dataframe.

In [739]:
#Merge the first two DataFrames, then merge the others to it.

# health_data = height_weight and iq
# population_quality = population_density and quality_oflife
# expect_quality = life_expectancy and quality_oflife

# do not use (on = 'country') for this.
conditions = pd.merge(health_data, population_quality, how = 'inner')

one_dataframe = pd.merge(conditions, expect_quality, how = 'inner')
# one_dataframe.info() 
one_dataframe

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp,...,climate,costs,popularity,area,population,pop_per_km_sq,male_life_expectancy,female_life_expectancy,birth_rate,death_rate
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102,1701,14.4,...,21,40,36,41543.0,17.53 M,422.1,79.8,83.1,9.7,9.7
1,Denmark,182,169,86.8,70.2,26.3,24.6,99,3127,12.5,...,17,35,41,42920.0,5.86 M,136.5,79.6,83.6,10.4,9.4
2,Sweden,180,167,87.1,70.5,26.8,25.4,99,2359,9.9,...,20,40,37,447430.0,10.42 M,23.3,80.7,84.2,10.9,9.5
3,Norway,180,166,89.1,72.6,27.4,26.2,99,3527,9.0,...,17,42,37,385203.0,5.41 M,14.0,81.6,84.9,9.8,9.8
4,Poland,180,165,89.0,71.5,27.4,26.1,97,298,13.4,...,27,58,52,312680.0,37.78 M,120.8,72.6,80.8,9.4,12.6
5,Ukraine,180,166,87.6,72.9,27.0,26.4,95,85,14.3,...,33,60,39,603550.0,43.81 M,72.6,66.4,76.2,7.8,15.9
6,Finland,180,166,86.3,71.0,26.6,25.7,101,1990,8.2,...,17,46,32,338450.0,5.54 M,16.4,79.4,85.0,8.4,10.0
7,Germany,180,166,88.7,71.7,27.4,26.0,100,1385,13.7,...,21,44,42,357580.0,83.13 M,232.5,78.6,83.4,9.3,11.9
8,Belgium,179,164,85.9,68.8,26.8,25.7,100,1676,14.8,...,20,32,40,30530.0,11.59 M,379.6,78.6,83.1,9.9,11.0
9,Greece,179,165,88.1,73.7,27.6,26.9,92,541,22.3,...,70,44,45,131960.0,10.66 M,80.8,78.6,83.7,7.9,12.2
10,Switzerland,179,164,85.5,63.9,26.8,23.8,102,2539,15.1,...,34,44,40,41290.0,8.70 M,210.6,81.1,85.2,9.9,8.8
11,Australia,179,165,88.3,72.6,27.7,26.8,99,1390,24.4,...,90,23,41,7741220.0,25.74 M,3.3,81.2,85.3,11.5,6.3
12,Ireland,179,164,89.2,73.1,28.0,27.1,94,1635,13.2,...,2,35,36,70280.0,5.03 M,71.5,80.4,84.1,11.2,6.4
13,Canada,178,165,87.3,72.4,27.4,26.7,101,1661,7.3,...,33,37,45,9984670.0,38.25 M,3.8,79.7,83.9,9.4,8.1
14,France,178,164,82.6,66.0,26.0,24.4,98,1609,16.8,...,41,29,71,549087.0,67.50 M,122.9,79.2,85.3,10.9,9.9
15,Luxembourg,178,165,86.2,69.7,27.2,25.7,99,2310,14.6,...,25,46,42,2590.0,0.64 M,246.7,79.4,84.2,10.2,7.3
16,United Kingdom,178,164,86.7,72.7,27.4,27.1,100,1455,12.9,...,6,34,44,243610.0,67.33 M,276.4,79.0,82.9,10.2,10.4
17,New Zealand,178,165,88.9,75.9,28.2,28.0,100,1283,17.3,...,36,26,37,267710.0,5.12 M,19.1,80.3,83.9,11.3,6.4
18,Romania,177,164,85.1,72.2,27.1,26.8,90,120,16.0,...,37,68,24,238400.0,19.12 M,80.2,70.5,78.4,9.2,15.4
19,United States,177,163,90.6,77.1,29.0,29.0,98,1904,18.8,...,66,37,71,9831510.0,331.89 M,33.8,74.5,80.2,10.9,10.3
20,Russia,176,164,80.3,72.2,25.9,26.7,96,157,9.5,...,33,62,43,17098250.0,143.45 M,8.4,66.5,76.4,9.8,14.6
21,Spain,176,162,84.0,65.9,27.2,25.1,97,885,21.0,...,74,43,68,505935.0,47.33 M,93.5,79.7,85.1,7.1,10.4
22,Turkey,176,161,84.0,75.0,27.2,28.8,89,141,20.4,...,62,59,50,785350.0,85.04 M,108.3,75.0,80.8,15.5,5.5
23,Israel,176,162,85.4,71.1,27.7,27.1,94,1226,25.4,...,81,36,30,22070.0,9.36 M,424.3,80.7,84.8,19.2,5.3
24,Brazil,175,162,80.7,70.3,26.3,26.8,83,223,30.7,...,65,44,32,8515770.0,213.99 M,25.1,72.5,79.7,13.5,6.6
25,South Korea,175,163,74.7,61.0,24.4,23.1,106,537,18.2,...,56,42,41,100339.0,51.74 M,515.7,80.5,86.5,5.3,5.9
26,Iran,175,161,77.3,70.5,25.3,27.2,84,120,26.5,...,58,43,41,1745150.0,85.03 M,48.7,75.8,78.1,17.9,4.8
27,China,175,163,73.5,62.2,24.1,23.5,104,27,19.0,...,54,38,73,9562910.0,"1,412.36 M",147.7,75.0,79.4,8.5,7.1
28,Argentina,174,161,84.7,71.4,27.9,27.6,90,278,23.9,...,78,41,34,2780400.0,45.81 M,16.5,73.4,80.1,16.6,7.6
29,Italy,174,161,80.9,64.8,26.7,24.9,97,1175,17.8,...,57,30,59,301340.0,59.07 M,196.0,80.1,84.7,6.8,12.6
30,Portugal,174,161,79.5,65.8,26.3,25.4,95,725,21.3,...,68,44,38,92226.0,10.30 M,111.7,78.0,84.1,8.2,12.0
31,Malta,174,162,84.2,70.5,27.9,26.7,97,619,23.1,...,75,41,44,320.0,0.52 M,1615.2,80.8,84.6,8.6,7.9
32,United Arab Emirates,173,160,84.5,75.6,28.1,29.5,83,378,34.4,...,62,67,28,83600.0,9.99 M,119.5,77.4,79.5,10.1,1.6
33,Singapore,173,161,72.8,60.2,24.3,23.2,108,908,31.5,...,45,55,42,719.0,5.45 M,7584.9,81.5,86.1,8.5,10.8
34,Egypt,173,160,83.1,80.5,27.8,31.4,83,58,30.0,...,67,59,45,1001450.0,104.26 M,104.1,69.9,74.5,25.1,5.7
35,Qatar,173,160,85.7,77.6,28.8,30.2,78,1574,33.7,...,61,70,38,11610.0,2.93 M,252.4,79.3,82.1,9.2,1.3
36,Bahrain,172,158,74.0,62.2,24.9,24.9,83,401,32.6,...,63,72,29,778.0,1.75 M,2247.2,76.6,78.6,13.3,2.4
37,Japan,172,158,69.5,54.8,23.6,21.9,105,1258,19.2,...,54,27,41,377970.0,125.68 M,332.5,81.6,87.7,6.8,8.8
38,Thailand,171,159,69.8,63.3,23.8,25.0,89,108,33.0,...,46,55,42,513120.0,69.95 M,136.3,73.7,81.1,10.0,7.9
39,Cameroon,171,160,69.0,64.3,23.6,25.1,65,29,31.0,...,60,51,34,475440.0,27.22 M,57.3,58.4,60.9,34.4,8.9
40,Saudi Arabia,170,158,80.9,73.6,28.0,29.4,81,700,32.5,...,52,76,44,2149690.0,35.34 M,16.4,74.1,76.9,16.8,3.5
41,Mexico,170,157,79.3,70.7,27.5,28.5,86,279,29.8,...,82,34,53,1964375.0,130.26 M,66.3,72.3,77.9,17.0,6.2
42,South Africa,169,158,71.9,74.1,25.1,29.5,70,247,24.7,...,95,49,40,1219090.0,60.04 M,49.3,61.0,67.9,19.8,9.4
43,Malaysia,168,157,71.5,64.0,25.2,26.1,93,273,32.1,...,44,46,44,330345.0,32.78 M,99.2,74.4,78.5,16.4,5.3
44,Vietnam,168,158,61.2,54.0,21.7,21.7,94,26,28.8,...,52,51,34,331230.0,98.17 M,296.4,71.4,79.6,16.1,6.4
45,Afghanistan,168,155,63.6,57.9,22.6,24.0,80,13,24.4,...,64,63,63,652860.0,39.84 M,61.0,63.7,66.7,31.2,6.2
46,Sri Lanka,167,155,63.1,57.3,22.5,23.7,79,30,29.7,...,57,56,33,65610.0,22.16 M,337.7,73.8,80.4,15.3,6.9
47,Ecuador,167,155,74.2,66.9,26.6,27.9,83,68,24.3,...,57,61,25,256370.0,17.89 M,69.8,74.5,80.0,19.2,5.1
48,Pakistan,167,154,64.7,58.9,23.3,24.7,82,16,30.9,...,72,63,40,796100.0,225.20 M,282.9,66.5,68.5,27.4,6.8
49,India,166,155,59.6,52.5,21.7,21.9,81,22,31.7,...,62,45,49,3287259.0,"1,393.41 M",423.9,68.7,71.2,17.4,7.3
50,Indonesia,166,154,61.4,56.2,22.4,23.7,84,29,31.6,...,40,54,39,1913580.0,276.36 M,144.4,69.8,74.2,17.4,6.6
51,Cambodia,165,154,59.7,52.8,22.0,22.2,88,7,32.5,...,52,66,35,181040.0,16.95 M,93.6,67.7,72.2,21.6,6.0
52,Philippines,165,154,61.8,55.5,22.8,23.5,86,38,31.9,...,49,46,35,300000.0,111.05 M,370.2,67.4,75.6,19.9,6.0
53,Bangladesh,165,152,57.7,50.5,21.3,21.8,77,9,29.8,...,50,61,33,147630.0,166.30 M,1126.5,71.1,74.9,17.5,5.5

8. Make up 1 interesting question about one of these datasets and answer it:
### Reorder quality of life and IQ from max to min and then join the data into one dataframe

In [740]:
#I know this is two datasets, but I was curious to the answer heehe
import numpy as np

x_df = quality_df.transform(np.sort)
y_df = iq_df.transform(np.sort)
reordered = pd.merge( x_df, y_df, how='inner' )

reordered

,country,stability,rights,health,safety,climate,costs,popularity,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Afghanistan,8,7,0,4,2,23,11,56,3,7.3
1,Albania,10,9,6,10,6,26,14,58,3,8.0
2,Algeria,16,11,6,19,7,27,14,60,6,8.1
3,Argentina,19,12,9,23,17,30,18,60,7,8.2
4,Armenia,24,12,10,24,17,32,18,60,8,9.0
...,...,...,...,...,...,...,...,...,...,...,...
89,United Kingdom,89,99,93,98,88,72,63,102,2310,33.9
90,United States,89,99,96,99,89,73,68,104,2359,34.2
91,Vietnam,91,100,97,100,90,74,71,106,2539,35.3
92,Zambia,91,100,100,100,92,75,73,108,3127,35.4
93,Zimbabwe,93,100,100,100,95,76,73,108,3527,36.5

9. Make up 1 interesting question about one of these datasets and answer it.
### In the quality of life dataframe, what is the relationship between stability and safety?

In [741]:
quality_df[['country','stability', 'safety']].transform(np.sort)

           country  stability  safety
0      Afghanistan          8       4
1          Albania         10      10
2          Algeria         16      19
3           Angola         18      21
4        Argentina         19      23
..             ...        ...     ...
132  United States         89      99
133        Uruguay         90      99
134        Vietnam         91     100
135         Zambia         91     100
136       Zimbabwe         93     100

[137 rows x 3 columns]

10. Make up 1 interesting question about one of these datasets and answer it:
### In the Height and Weight, what is the weight of men and women in the United States? How does it compare to the mean of all countries?

In [742]:
usa_data = height_weight_df[height_weight_df.country == 'United States']
usa_data = usa_data[['country','male_weight', 'female_weight']]
print(usa_data)

mean_men_weight = height_weight_df['male_weight'].mean()
mean_fem_weight = height_weight_df['female_weight'].mean()
print('Average Weight for Men in All Countries: ', mean_men_weight)
print('Average Weight for Men in All Countries: ', mean_fem_weight)
# Conclusion: we chunky

          country  male_weight  female_weight
42  United States         90.6           77.1
Average Weight for Men in All Countries:  78.94682539682543
Average Weight for Men in All Countries:  68.9404761904762